<!DOCTYPE html>
<html>
<head>
    <title>SSSI001</title>
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='css/ssi001.css')}}">
    <script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/ssi001.js')}}"></script>
</head>
<body>
<div class=page>
    <h3>Padaj adres mail oraz pin</h3>
    <div>
        <form id="ssi001_form">
            <div id="name_label">Email</div>
            <input type="email" id="name" name="name"/>
            <div class=error id="name_error"> </div>
            <div id="number_label">PIN:</div>
            <input type="text" id="pin" name="PIN"/>
            <div id="submit_label"></div>
            <div class=error id="pin_error"> </div>
            <input type="submit" id="ssi001_submit"/>
        </form>
    </div>
    <div>
        <h3>AJAX result:</h3>
        <h4 id="ajax_result"></h4>
    </div>
</div>
</body>
</html>
